<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="root">
        <!-- Tutte le email appaiono allo stesso momento -->
        <div v-if="randomEmails.length == 10">
            <!-- List-Email -->
            <ul>
                <li v-for="email in randomEmails">
                    {{ email }}

                </li>
            </ul>

        </div>
        

    </div>
    
    <script type="text/javascript" src="js/script.js"></script>   
</body>
</html>